#container{
    padding: 10px;
    position: absolute;
    width: 500px;
    height: 450px;
    left: 50%;
    top: 50%;
    transform:  translate(-50%, -50%);
    box-shadow: 0 2px 4px 0 black;
}
.border {
    border: 3px solid #000;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
  }
  
  .row1, .row2 {
    display: flex;
    justify-content: space-between;
  }
  
  .row3 {
    border-top: 5px solid rgb(210, 31, 210);
    padding-top: 20px;
    width: 510px;
  }
  
  .item {
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    width: 150px;
    height: 50px;
    line-height: 50px;
    border: 0px solid #000;
    border-radius: 5px;
  }
  
  .colorful {
    color: rgb(13, 13, 13);
    text-shadow : 1px 6px 3px green ,
    3px -6px 3px rgb(248, 12, 110);
  }
  
  .inset {
    background-color: antiquewhite;
    color: rgb(218, 0, 156);
  }
  
  .double {
    
    color: rgb(9, 9, 9);
    border-style: solid;
    text-shadow : 5px -6px 3px rgb(248, 12, 110);
  }
  
  .single {
   
    color: rgb(246, 129, 40);
    border-style: solid;
    text-shadow: 1px 3px 1px rgba(233, 154, 5, 0.814);
  }
  
  .glossy {
   
    color: rgb(22, 4, 4);
    background-color: #000;
    text-shadow: 10px 1px 1px rgb(255, 0, 0);
  }
  
  .neon {
    color: #0004ee;
    background-color: #000;
    text-shadow: 05px 005px 5px #0059ff, 0px 0px 10px #3700fd, 0px 0px 15px #00ff00;
  }